body {
    background-color: #282a36;
    color: #ffffff;
}

a:link, a:visited, a:hover, a:active{
    color: #bd93f9;
    text-decoration: none;
}

.fitVpW{
    width: 100vw!important;
}

.fitVpH{
    height: 100vh !important;
}

.behindAll{
    z-index: -1000;
}

.red{
    background-color: #ff0000;
}

.centerText{
    max-width: 450px !important;
}

#fg{
    position: absolute;
    animation-name: enterFromTop;
    animation-duration: 1s;
    top: 20vh;
}

@keyframes enterFromTop{
    from { top: -100px; }
    to { top: 20vh; }
}

@keyframes exitThruBottom{
    from { top: 20vh; }
    to { top: 100vh; }
}