body {
    background-color: #282a36;
    color: #ffffff;
}

.fitVpW{
    width: 100vw!important;
}

.fitVpH{
    height: 100vh !important;
}

.behindAll{
    z-index: -1000;
}

.red{
    background-color: #ff0000;
}

#fg{
    position: absolute;
    top: 20px !important;
}