<script src="/js/feather.min.js"></script>
<script src="/js/three/r126/three.min.js"></script>
<script src="/js/three/r126/Projector.js"></script>
<script src="/js/three/r126/SVGRenderer.js"></script>

{{ $colBg := print "0x" .Site.Data.colors.bg }}
{{ $colLine := print "0x" .Site.Data.colors.purple }}
<script>
    ///
    ///misc setup
    ///
    let divBg = document.getElementById("bg");
    let divFg = document.getElementById("fg");
    let nxtBox;

    feather.replace();
    
    ///
    /// menu and navigation
    ///

    let boxes = {
        {{ range $boxData := .Site.Data.infoBoxes }}
            {{ $boxData.divName }}: {
                "div": document.getElementById({{ $boxData.divName }}),
                "btn": document.getElementById({{ $boxData.linkId }}),
                "menu": document.getElementsByClassName({{ $boxData.menuClass }})
            },
        {{ end }}
    };

    function swapClass(elem, removeMe, addMe){
        elem.classList.remove(removeMe);
        elem.classList.add(addMe);
    }

    function hideElem(elem){
        swapClass(elem, "d-block", "d-none");
    }

    function showElem(elem){
        swapClass(elem, "d-none", "d-block");
    }

    function elemsDo(elems, func){
        for(let i=0;i<elems.length;i++){
            func(elems[i]);
        }
    }

    function showElems(elems){
        elemsDo(elems, showElem);
    }

    function hideElems(elems){
        elemsDo(elems, hideElem);
    }

    function handleMenuClick(_box){
        nxtBox = _box;
        animFgExitBottom();
    }

    function showBox(_box){
        if(_box === undefined)return;
        for(let box in boxes){
            if(box === _box){
                showElem(boxes[box].div);
                hideElems(boxes[box].menu);
            }else{
                hideElem(boxes[box].div);
                showElems(boxes[box].menu);
            }
        }
    }

    function addMenuListeners(){
        for(let box in boxes){
            boxes[box].btn.addEventListener("click", function(){
                handleMenuClick(box);
            });
        }
    }

    addMenuListeners();

    ///
    /// fg animation
    ///

    function addAnimationEndListener(_elem, _func){
        _elem.addEventListener("webkitAnimationEnd", _func, false);
        _elem.addEventListener("animationend", _func, false);
        _elem.addEventListener("oanimationend", _func, false);
    }

    function removeAnimationEndListener(_elem, _func){
        _elem.removeEventListener("webkitAnimationEnd", _func);
        _elem.removeEventListener("animationend", _func);
        _elem.removeEventListener("oanimationend", _func);
    }

    function animateFg(_animName, _endCallback){
        const fgAnimArgs = "0.5s";
        divFg.style.animation = _animName+" "+fgAnimArgs;
        addAnimationEndListener(divFg, _endCallback);
    }

    function animFgEnter(){
        animateFg("enterFromTop", handleFgEntered);
    }

    function animFgExitBottom(){
        animateFg("exitThruBottom", handleFgExited);
    }

    function handleFgEntered(){
        removeAnimationEndListener(divFg, handleFgEntered);
        
    }

    function handleFgExited(){
        showBox(nxtBox);
        removeAnimationEndListener(divFg, handleFgExited);
        animFgEnter();
    }

    ///
    /// 3js
    ///
    
    let renderW = window.innerWidth;
    let renderH = window.innerHeight;
    let colBg = parseInt({{ $colBg }});
    let colLine = parseInt({{ $colLine }});
    let boxBottom;
    let boxTop;
    let boxLx;
    let boxRx;
    let matBox;
    const scene = new THREE.Scene();
    const camera = new THREE.PerspectiveCamera( 75, renderW / renderH, 0.1, 1000 );
    const renderer = new THREE.SVGRenderer();
    renderer.setClearColor(colBg);
    
    function makeBoxSideVtx(_ctr, _sz, _horOff){
        //  3
        // . \
        //2   4
        // \  |
        //  1 5
        //  |
        //  0

        let sz2 = _sz/2;
        let x0 = _ctr.x + _horOff;
        let x1 = x0 + _horOff;
        let y0 = _ctr.y - sz2;
        let y1 = _ctr.y + sz2;
        let y2 = y1 + _sz/3;
        let z0 = _ctr.z + sz2;
        let z1 = _ctr.z - sz2;
        let vtx = [];
        
        vtx.push(new THREE.Vector3(x0, y0, z0));
        vtx.push(new THREE.Vector3(x0, y1, z0));
        vtx.push(new THREE.Vector3(x1, y2, z0));
        vtx.push(new THREE.Vector3(x1, y2, z1));
        vtx.push(new THREE.Vector3(x0, y1, z1));
        vtx.push(new THREE.Vector3(x0, y0, z1));

        return vtx;
    }

    function makeHorSquareVtx(_ctr, _sz){
        let sz2 = _sz/2;
        let vtx = [];
        
        // 0---1
        // |   |
        // 3---2

        vtx.push(new THREE.Vector3(_ctr.x - sz2, _ctr.y, _ctr.z - sz2));
        vtx.push(new THREE.Vector3(_ctr.x + sz2, _ctr.y, _ctr.z - sz2));
        vtx.push(new THREE.Vector3(_ctr.x + sz2, _ctr.y, _ctr.z + sz2));
        vtx.push(new THREE.Vector3(_ctr.x - sz2, _ctr.y, _ctr.z + sz2));
        vtx.push(new THREE.Vector3(_ctr.x - sz2, _ctr.y, _ctr.z - sz2));

        return vtx;
    }

    function makeBoxBase(_ctr, _sz, _mat){
        const vtx = makeHorSquareVtx(_ctr, _sz, _mat);
        const geom = new THREE.BufferGeometry().setFromPoints(vtx);
        return new THREE.Line(geom, _mat);
    }

    function makeBoxSide(_ctr, _sz, _horOff, _mat){
        const vtx = makeBoxSideVtx(_ctr, _sz, _horOff, _mat);
        const geom = new THREE.BufferGeometry().setFromPoints(vtx);;
        return new THREE.Line(geom, _mat);
    }

    function init3d(){
        renderer.setSize( renderW, renderH );
	    divBg.appendChild( renderer.domElement );

        matBox = new THREE.LineBasicMaterial( { 
            color: colLine,
            linewidth: 5,
        } );

        const boxCtr = new THREE.Vector3(0,-1.5,0);
        const boxSz = 1;
        
        boxBottom = makeBoxBase(new THREE.Vector3(boxCtr.x, boxCtr.y-boxSz/2, boxCtr.z), boxSz, matBox);
        boxTop = makeBoxBase(new THREE.Vector3(boxCtr.x, boxCtr.y+boxSz/2, boxCtr.z), boxSz, matBox)
        boxLx = makeBoxSide(boxCtr, boxSz, -boxSz/2, matBox);
        boxRx = makeBoxSide(boxCtr, boxSz, boxSz/2, matBox);
        
        scene.add(boxBottom);
        scene.add(boxTop);
        scene.add(boxLx);
        scene.add(boxRx);

        camera.position.z = 5;
    }

    function onWindowResize(){
        renderW = window.innerWidth;
        renderH = window.innerHeight;
        camera.aspect = renderW/renderH;
        camera.updateProjectionMatrix();
        renderer.setSize(renderW, renderH);
    }

	const animate = function () {
		requestAnimationFrame( animate );

        boxRx.rotation.y += 0.01;
        boxLx.rotation.y += 0.01;
        boxTop.rotation.y += 0.01;
		boxBottom.rotation.y += 0.01;

		renderer.render( scene, camera );
	};

    window.addEventListener('resize', onWindowResize);
    init3d();
	animate();
</script>